/*  your css code here. If applicable */
        nav {
            background-color: #D3D3D3;
            padding: 10px;
        }

        /* Remove bullets */
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        /* Horizontal list items */
        li {
            display: inline;
            margin-right: 1rem;
		}